<div class="flex items-center justify-center w-full bg-primaryBackground navbar-height">
    <div class="flex items-center justify-between navbar-height navbar-width">
        <img src="/assets/resume_icon.svg" class="logo" alt="logo">
        <p class="font-semibold text-primaryForeground">Applify</p>
        <div>
            <button onclick="logout()" class="hover:bg-accent bg-accent text-secondaryForeground pt-2 pb-2 pl-4 pr-4 rounded font-medium">Logout</button>
        </div>
    </div>
</div>